In [1]:
import numpy as np
import pandas as pd

# SERIES

In [2]:
# Series is a one-dimensional labeled array capable of holding any data type
# (integers, strings, floating point numbers, Python objects, etc.)

# Creating a Series 
# s = pd.Series(data, index=index)

s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])

In [3]:
s

a   -0.686899
b   -1.757249
c   -0.097461
d   -0.654477
e   -0.913135
dtype: float64

In [4]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [5]:
pd.Series(np.random.randn(5))

0    0.743402
1    0.233637
2    1.141584
3    1.658666
4   -0.819650
dtype: float64

In [6]:
s.dtype

dtype('float64')

# DATAFRAME

In [7]:
# DataFrame is a 2-D labeled data structure with columns of potentially 
# different types, such as spreadsheet, SQL table, or a dict of Series objects

# pandas

In [8]:
import numpy as np
import pandas as pd

In [9]:
# Object creation
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [10]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [11]:
dates = pd.date_range("20130101", periods=6)

In [12]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [14]:
df

                   A         B         C         D
2013-01-01 -1.705740 -0.535041 -1.801986 -0.888829
2013-01-02 -0.046116 -0.715080 -0.132205  2.006885
2013-01-03  0.283300  0.006310  0.454152 -0.124878
2013-01-04  1.096119 -0.020956  1.707375 -0.793465
2013-01-05 -0.446731  0.148359 -0.703895 -0.733782
2013-01-06 -0.658219 -0.180637  0.402013 -0.788765

In [15]:
df.head()

                   A         B         C         D
2013-01-01 -1.705740 -0.535041 -1.801986 -0.888829
2013-01-02 -0.046116 -0.715080 -0.132205  2.006885
2013-01-03  0.283300  0.006310  0.454152 -0.124878
2013-01-04  1.096119 -0.020956  1.707375 -0.793465
2013-01-05 -0.446731  0.148359 -0.703895 -0.733782

In [16]:
df.tail()

                   A         B         C         D
2013-01-02 -0.046116 -0.715080 -0.132205  2.006885
2013-01-03  0.283300  0.006310  0.454152 -0.124878
2013-01-04  1.096119 -0.020956  1.707375 -0.793465
2013-01-05 -0.446731  0.148359 -0.703895 -0.733782
2013-01-06 -0.658219 -0.180637  0.402013 -0.788765

In [17]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [18]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')